caddy-ktfj.onrender.com {

    root * /srv/frontend
    file_server

    handle_path /api/* {
        reverse_proxy https://api-gateway-service-nb2g.onrender.com
    }

    @options_api {
        method OPTIONS
        path /api/*
    }
    handle @options_api {
        respond 204 {
            header Access-Control-Allow-Origin *
            header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
            header Access-Control-Allow-Headers *
        }
    }
}
